* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
*:focus {
    outline: none;
}
.input-form {
    padding: 0px 15px;
}
.input-form:focus, .textarea:focus {
    border-bottom: 1px solid #ff2d2d;
}
.textarea {
    padding: 15px;
}
p {
    color: #6f6d6d;
}
h3 {
    color: #585858;
    font-size: 43px;
}
body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.center {
    max-width: 1250px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
button {
    max-width: 225px;
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}
button:focus {
    outline: none;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    flex-direction: column;
    min-height: 685px;
    width: 100%;
    background-color: #f6f2f2;
    padding: 0 0 120px 0;
}
#head {
    margin: 25px auto 120px auto;
    min-height: 90px;
    height: 100%;
    background-color: #313030;
}
#head ul {
    margin: 0;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
}
#head ul li {
    margin: 0;
    display: flex;
    max-width: 600px;
    align-items: center;
    padding: 0px 23px;
    transition: 0.5s;
}
#head ul li a {
    color: #e0e0e0;
}
#head ul li:hover {
    background: #ff3f40;
}
.header-description {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.header-description h2 {
    font-size: 70px;
    font-weight: 900;
    margin: 0 0 35px 0;
}
.header-description p {
    margin: 0 150px 70px 0;
}
.header-description button {
    background: #ff2d2d;
    color: #ffffff;
}
.header-description button:hover {
    background-image: radial-gradient(#ff2d2d, #ff4343, #fc5252);
}
.header-video {
    width: 50%;
    height: 380px;
    box-shadow: 0px 0px 100px 10px black;
}
#youtube1 {
    width: 100%;
    height: 100%;
}
.section1 {
    min-height: 700px;
    height: 100%;
    padding: 110px 0;
    border-bottom: 2px solid #cecece;
}
.section1-description {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.section1-description button {
    background-color: #ffffff;
    color: #ff2d2d;
    border: 1px solid #ff0000;
    transition: 0.3s;
}
.section1-description button:hover {
    background-color: #ff2d2d;
    color: #ffffff;
    box-shadow: 0 0 10px 0 #ff2d2d;
    border: 1px solid #ff2d2d;
}
.section1-description h3 {
    margin-top: 0;
}
.section1-description p {
    margin-right: 140px;
    margin-bottom: 60px;
}
.section1-content {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}
.section1-content .block {
    width: 50%;
    padding-right: 20px;
}
.section1-content .block i {
    font-size: 50px;
    color: #ff3b4a;
}
.section1-content .block h4, .section1-content .block p {
    color: #737373;
}
.fa-cog {
    animation: gear 4s linear infinite;
}
@keyframes gear {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
.fa-pencil {
    animation: pensil 2s linear infinite;
}
@keyframes pensil {
    0% {transform: rotate(0)}
    25% {transform: rotate(-7deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(7deg)}
    100% {transform: rotate(0deg)}
}
.fa-truck {
    position: relative;
    animation: truck 3s ease-in-out infinite;
}
@keyframes truck {
    0% {transform: translate(0, 0)}
    50% {transform: translate(100px, 0)}
    100% {transform: translate(0, 0)}
}
@keyframes truck-low-size {
    0% {transform: translate(0, 0)}
    25% {transform: translate(50px, 0)}
    50% {transform: translate(0px, 0)}
    75% {transform: translate(-50px, 0)}
    100% {transform: translate(0, 0)}
}
.fa-registered {
    animation: brand 3s linear infinite;
}
@keyframes brand {
    0% {transform: scaleX(1)}
    50% {transform: scaleX(-1)}
    100% {transform: scaleX(1)}
}
.section2 {
    padding: 110px 20px 130px 20px;
    flex-direction: column;

}
.section2-description {
    flex-direction: column;
    align-items: center;
}
.section2-description h3 {
    margin: 0 0 43px 0;
}
.section2-description p {
    max-width: 400px;
    width: 100%;
    margin: 0;
    padding: 0 0 30px 0;
    text-align: center;
    border-bottom: 1px solid #ff2d2d;
}
.section2-description ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 90px 0 65px 0;
}
.section2-description ul li {
    padding: 10px 0px 0 0;
    list-style: none;
    margin: 0 20px 0 0;
}
.section2-description ul li a {
    color: #737373;
}
.section2-description ul li:hover a {
    color: #ff2d2d;
}
.section2-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.img-wrap {
    max-width: 21%;
    overflow: hidden;
    margin: 0px 20px 20px 0px;
}
.img-wrap img {
    width: 100%;
    height: 100%;
    filter: sepia(1);
    transition: 0.5s;
}
.img-wrap img:hover {
    filter: sepia(0);
}
.section3 {
    flex-direction: column;
}
.section3-description {
    display: flex;
    flex-direction: column;
}
.section3-description h3 {
    margin: 0 0 40px 0;
    width: 100%;
}
.section3-description p {
    margin: 0 0 70px 0;
    padding: 0 0 40px 20px;
    max-width: 450px;
    width: 100%;
    border-bottom: 1px solid #ff3b3b;
}
.section3-content {
    display: flex;
    width: 100%;
    min-height: 450px;
}
.main-dev-img {
    max-width: 300px;
    height: 423px;
    width: 100%;
    overflow: hidden;
    margin: 0 20px 0 0;
}
.section3 {
    padding: 0px 10px 110px 10px;
}
.section3-content {
    display: flex;
}
.main-dev-img img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    transition: 0.5s;
}
.main-dev-img img:hover {
    filter: brightness(100%);
}

.main-dev-description {
    display: flex;
    flex-direction: column;
}
.main-dev-description h4 {
    color: #585858;
}
.main-dev-description p {
    max-width: 500px;
    width: 100%;
}
.main-dev-description ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 50px;
}
.main-dev-description ul li {
    list-style: none;
    margin: 0 10px 0 0;
}
.main-dev-description ul li a {
    color: #585858;
    font-weight: bolder;
    font-style: italic;
}
.main-dev-description ul li a:hover {
    border-bottom: 2px solid #ff2d2d;
}
.other-dev-img {
    display: flex;
    width: 100%;
}
.oter-dev-img-wrap {
    position: relative;
    width: 18%;
    height: 187px;
    overflow: hidden;
    margin: 0 25px 0 0;
    background-color: #000000;
}
.oter-dev-img-wrap span {
    position: absolute;
    color: white;
    font-weight: bold;
    visibility: hidden;
    top: 20%;
    left: 35%;
    z-index: 1;
}
.oter-dev-img-wrap img {
    width: 100%;
    height: 100%;
}
.oter-dev-img-wrap:hover img {
    filter: opacity(0.4)
}
.oter-dev-img-wrap:hover span {
    visibility: visible;
}
.section4 {
    display: flex;
    flex-direction: column;
    min-height: 515px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.568)), url(https://thewallpaper.co/wp-content/uploads/2016/03/black-and-white-city-man-people-hd-grayscale-images-monochrome-wallpapers-black-and-white-widescreen-images-dark-wallpapers-amazing-color-desktop-wallpaper-samsung-background-images-1600x1024-768x492.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding: 140px 0 0 0;
    text-align: center;
}
.section4 h3 {
    margin: 0 0 50px 0;
    color: #fdfcf8;
}
.section4 p {
    margin: 0 0 80px 0;
    color: #fdfcf8;
}
.section4-form {
    display: flex;
    width: 100%;
    justify-content: center;
}
.section4-form input {
    max-width: 520px;
    width: 100%;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    height: 50px;
}
.section4-form input:focus {
    outline-style: none;
}
.section4-form button {
    background: #ff2d2d;
    color: #ffffff;
}
.section4-form button:hover {
    background-image: radial-gradient(#ff2d2d, #ff4343, #fc5252);
}
.section5 {
    padding: 100px 10px 100px 10px;
    flex-direction: column;
}
.section5-description {
    display: flex;
    flex-direction: column;
}
.section5-description h3 {
    margin: 0 0 50px 0;
}
.section5-description p {
    margin: 0 0 80px 0;
    padding: 0 0 60px 0;
    border-bottom: 1px solid #ff2d2d;
    max-width: 700px;
    width: 100%;
}
.section5-content {
    display: flex;
}
.section5-content-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
}
.section5-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section5-input input {
    width: 45%;
    height: 50px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
}

.section5-content-form textarea {
    width: 100%;
    height: 250px;
    margin: 50px 0;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
}

.section5-content-form button {
    max-width: 700px;
    width: 100%;
    background-color: #ff3b3b;
    color: #ffffff;
}
.section5-content-form button:hover {
    background-image: radial-gradient(#ff2d2d, #ff4343, #fc5252);
}
.section5-content-info {
    margin: 0 50px;
    background-color: #2d2d2d;
    width: 500px;
    height: 450px;
}
.section5-content-info {
    color: #e0e0e0;
}
.section5-content-info p {
    color: #e0e0e0; 
}
.section5-content-info {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
}
footer {
    display: flex;
    width: 100%;
    height: 115px;
    background-color: #313030;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
}
footer p {
    color: #a3a3a3;
}
footer i {
    padding: 10px 12px;
    margin: 0px 15px;
    color: #313030;
    background-color: #ebebeb;
    border-radius: 50%;
    transition: 0.2s
}
.footer-links i:hover {
    transform: scale(1.1)
}
.fa-facebook {
    padding: 10px 15px;
}

@media (max-width: 1265px) {
    header {
        padding: 0 20px 120px 20px;
    }
    .section1-description {
        padding-right: 30px;
        padding-left: 25px;
    }
    .section1-description p {
        margin-right: 70px;
        margin-bottom: 60px;
    }
}
@media (max-width: 1020px) {
    .header-content {
        flex-wrap: wrap;
    }
    .header-description, .header-video {
        width: 80%;
        margin: 20px auto 0px;
    }
    .section3-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-dev-description p {
        display: flex;
        align-self: center;
    }
    .section3-description {
        align-items: center;
        text-align: center;
    }
    .main-dev-img {
        margin: 0;
    }
    .main-dev-description ul {
        justify-content: center;  
    }
    .other-dev-img {
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .section1 {
        flex-direction: column;
    }
    .section1-description {
        width: 100%;
        padding-bottom: 30px;
    }
    .section1-content {
        width: 100%;
        padding-left: 20px;
    }
    .img-wrap {
        max-width: 30%;
    }
    .other-dev-img {
        flex-wrap: wrap;
    }
    .oter-dev-img-wrap {
        width: 30%;
        margin-bottom: 20px;
    }
    .section4-form {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section4-form input {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .section4-form button {
        height: 50px;
    }
    .section4 {
        padding: 80px 10px 0 10px;
    }
    .section5-content-info {
        margin: 0px 10px 0 50px;
    }

}
@media (max-width: 736px) {
    .section5-content {
        flex-direction: column;
    }
    .section5-content-info {
        margin: 15px 0;
        background-color: #2d2d2d;
        width: 100%;
        height: 450px;
    }
    footer i {
        margin: 5px 5px;
    }
    footer {
        padding: 0 10px;
        text-align: center;
    }
    footer p {
        max-width: 200px;
    }
}
@media (max-width: 600px) {
    header {
        padding: 0 0px 120px 0px;
    }
    .header-description h2 {
        font-size: 40px;
        font-weight: 900;
        margin: 0 0 35px 0;
    }
    .header-description, .header-video {
        width: 100%;
    }
    #head ul li {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 30px 10px;
    }
    .header-description p {
        margin: 0 10px 70px 0;
    }
    .header-description {
        margin: 0px 0px 0px 10px;
    }
    .section1-description h3 {
        font-size: 30px;
        text-align: center;
    }
    .section1-description p {
        margin-right: 0;
    }
    .section1-description button {
        align-self: center;
    }
    .section1-content {
        text-align: center;
    }
    .img-wrap {
        max-width: 80%;
    }
    .section2-description h3 {
        text-align: center;
    }
    .oter-dev-img-wrap {
        width: 50%;
        margin-bottom: 20px;
    }
    .section4 h3 {
        font-size: 30px;
    }
    .section4 p {
        margin-bottom: 30px;
    }
    .fa-truck {
        animation: truck-low-size 4s linear infinite;
    }
}
